node_modules
.next
public
dist
build
**/**/node_modules
**/**/.next
**/**/public

*.lock
*.log

.gitignore
.npmignore
.prettierignore
.DS_Store
.eslintignore
pnpm-lock.yaml

# Ignore TradingView charting library files
**/charting_library/**
components/dashboard/tradingview/charting_library/**
public/charting_library/**
